<div class="about">

	<div class="title">
		<h1>about</h1>
	</div>

	<div class="content">
		<img src="">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae quos officia dolores ipsum dignissimos dolor illo repellendus quas expedita iste voluptatibus at voluptate quibusdam autem officiis veniam, molestiae? Id!

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae quos officia dolores ipsum dignissimos dolor illo repellendus quas expedita iste voluptatibus at voluptate quibusdam autem officiis veniam, molestiae? Id!

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae quos officia dolores ipsum dignissimos dolor illo repellendus quas expedita iste voluptatibus at voluptate quibusdam autem officiis veniam, molestiae? Id!
		</p>
	</div>

</div>