<!-- <div class="about">

	<div class="title">
		<h1>about</h1>
	</div>

	<div class="content">
		<div class="content-img">
			<img src="./css/images/profile-pic.jpg">
		</div>
		<p>
			Hello! A little about me is that I’ve been drawing since I could pick up a pencil and haven’t stopped since. I’ve come a long way from drawing dis-proportioned ponies and bright, yellow suns in the top right corner of a notebook page. I’m primarily self-taught, having taken visual arts junior and senior year of high school. Since the age of seventeen I’ve been participating in art showcases, art competitions and many other types of events that allowed me to present my art. Inspiration for me can come from anywhere. It is always a goal of mine to show as much variety as possible in the mediums I use as well as the subjects I choose.
		</p>
	</div>

</div> -->

<div class="about">

	<div class="content">

		<div class="title">
			<h1>about</h1>
		</div>

		<p>
			Hello! A little about me is that I’ve been drawing since I could pick up a pencil and haven’t stopped since. I’ve come a long way from drawing dis-proportioned ponies and bright, yellow suns in the top right corner of a notebook page. I’m primarily self-taught, having taken visual arts junior and senior year of high school. Since the age of seventeen I’ve been participating in art showcases, art competitions and many other types of events that allowed me to present my art. Inspiration for me can come from anywhere. It is always a goal of mine to show as much variety as possible in the mediums I use as well as the subjects I choose.
		</p>
	</div>

</div>