<div class="contact">

	<div class="content">

		<div class="title">
			<h1>contact</h1>
		</div>

		<form action="//formspree.io/aliciaroblesart@gmail.com" post="POST">

			<div>
				<input id="name" type="text" name="name" placeholder="Name...">
			</div>

			<div>
				<input id="name" type="email" name="_replyto" placeholder="Email...">
			</div>

			<div>
				<textarea id="message" name="msg" cols="30" rows="10" placeholder="Message..."></textarea>
			</div>

			<div>
				<input class="submit" type="submit" value="send">
			</div>

		</form>

	</div>
	
</div>