<div class="portfolio">

	<div class="title">
		<h1>portfolio</h1>
	</div>

	<div class="content">
		<a class="fancybox" rel="group" href="./css/images/art/creature.jpg" title="watercolor, black ballpoint pen, colored pencil">
			<img src="./css/images/sml-art/sml-creature.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/jaguar-skin.jpg" title="watercolor, acrylic paint, sharpie">
			<img src="./css/images/sml-art/sml-jaguar-skin.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/royal.jpg" title="hotglue, acrylic paint, micron pens">
			<img src="./css/images/sml-art/sml-royal.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/aztec-physics.jpg" title="hotglue, acrylic paint, black spraypaint">
			<img src="./css/images/sml-art/sml-aztec-physics.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/blue-pen-booby.jpg" title="blue ballpoint pen">
			<img src="./css/images/sml-art/sml-blue-pen-booby.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/court-jester.jpg" title="black ballpoint pen">
			<img src="./css/images/sml-art/sml-court-jester.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/crocodile.jpg" title="black ballpoint pen, acrylic paint">
			<img src="./css/images/sml-art/sml-crocodile.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/double-page-spread.jpg" title="black ink and quill">
			<img src="./css/images/sml-art/sml-double-page-spread.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/feathery-focus.jpg" title="black ballpoint pen">
			<img src="./css/images/sml-art/sml-feathery-focus.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/greenman-blind-contour.jpg" title="sharpie, spraypaint">
			<img src="./css/images/sml-art/sml-greenman-blind-contour.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/hotglue-crocodile.jpg" title="hotglue, acrylic paint, spraypaint">
			<img src="./css/images/sml-art/sml-hotglue-crocodile.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/salty-sea-dog.jpg" title="watercolor, sharpie">
			<img src="./css/images/sml-art/sml-salty-sea-dog.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/still-life.jpg" title="pencil, colored pencil">
			<img src="./css/images/sml-art/sml-still-life.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/watercolor-creature.jpg" title="watercolor, sharpie">
			<img src="./css/images/sml-art/sml-watercolor-creature.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/watercolor-monster.jpg" title="watercolor, sharpie">
			<img src="./css/images/sml-art/sml-watercolor-monster.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/cloak.jpg" title="black ballpoint pen, gouache">
			<img src="./css/images/sml-art/sml-cloak.jpg"/>
		</a>		

		<a class="fancybox" rel="group" href="./css/images/art/blue-pen-doodle.jpg" title="blue ballpoint pen">
			<img src="./css/images/sml-art/sml-blue-pen-doodle.jpg"/>
		</a>		

		<a class="fancybox" rel="group" href="./css/images/art/comic-man-facebeat-up-man.jpg" title="quill and ink">
			<img src="./css/images/sml-art/sml-beat-up-man.jpg"/>
		</a>		

		<a class="fancybox" rel="group" href="./css/images/art/comic-practice-1.jpg" title="quill and ink">
			<img src="./css/images/sml-art/sml-comic-practice-1.jpg"/>
		</a>		

		<a class="fancybox" rel="group" href="./css/images/art/comic-practice-2.jpg" title="quill and ink">
			<img src="./css/images/sml-art/sml-comic-practice-2.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/football-wolf.jpg" title="quill and ink">
			<img src="./css/images/sml-art/sml-football-wolf.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/art/pencil-sketchsword.jpg" title="graphite">
			<img src="./css/images/sml-art/sml-sword.jpg"/>
		</a>
	</div>

</div>