<div class="portfolio">

	<div class="title">
		<h1>portfolio</h1>
	</div>

	<div class="content">
		<a class="fancybox" rel="group" href="./css/images/creature.jpg">
			<img src="./css/images/creature.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/jaguar-skin.jpg">
			<img src="./css/images/jaguar-skin.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/royal.jpg">
			<img src="./css/images/royal.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/aztec-physics.jpg">
			<img src="./css/images/aztec-physics.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/blue-pen-booby.jpg">
			<img src="./css/images/blue-pen-booby.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/court-jester.jpg">
			<img src="./css/images/court-jester.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/creature.jpg">
			<img src="./css/images/creature.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/crocodile.jpg">
			<img src="./css/images/crocodile.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/double-page-spread.jpg">
			<img src="./css/images/double-page-spread.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/feathery-focus.jpg">
			<img src="./css/images/feathery-focus.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/greenman-blind-contour.jpg">
			<img src="./css/images/greenman-blind-contour.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/hotglue-crocodile.jpg">
			<img src="./css/images/hotglue-crocodile.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/salty-sea-dog.jpg">
			<img src="./css/images/salty-sea-dog.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/still-life.jpg">
			<img src="./css/images/still-life.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/untitled.png">
			<img src="./css/images/untitled.png"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/watercolor-creature.jpg">
			<img src="./css/images/watercolor-creature.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/watercolor-monster.jpg">
			<img src="./css/images/watercolor-monster.jpg"/>
		</a>
	</div>

</div>