<div class="portfolio">

	<div class="title">
		<h1>portfolio</h1>
	</div>

	<div class="content">
		<a class="fancybox" rel="group" href="./css/images/creature.jpg" title="watercolor, black ballpoint pen, colored pencil">
			<img src="./css/images/sml-art/sml-creature.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/jaguar-skin.jpg" title="watercolor, acrylic paint, sharpie">
			<img src="./css/images/sml-art/sml-jaguar-skin.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/royal.jpg" title="hotglue, acrylic paint, micron pens">
			<img src="./css/images/sml-art/sml-royal.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/aztec-physics.jpg" title="hotglue, acrylic paint, black spraypaint">
			<img src="./css/images/sml-art/sml-aztec-physics.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/blue-pen-booby.jpg" title="blue ballpoint pen">
			<img src="./css/images/sml-art/sml-blue-pen-booby.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/court-jester.jpg" title="black ballpoint pen">
			<img src="./css/images/sml-art/sml-court-jester.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/crocodile.jpg" title="black ballpoint pen, acrylic paint">
			<img src="./css/images/sml-art/sml-crocodile.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/double-page-spread.jpg" title="black ink and quill">
			<img src="./css/images/sml-art/sml-double-page-spread.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/feathery-focus.jpg" title="black ballpoint pen">
			<img src="./css/images/sml-art/sml-feathery-focus.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/greenman-blind-contour.jpg" title="sharpie, spraypaint">
			<img src="./css/images/sml-art/sml-greenman-blind-contour.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/hotglue-crocodile.jpg" title="hotglue, acrylic paint, spraypaint">
			<img src="./css/images/sml-art/sml-hotglue-crocodile.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/salty-sea-dog.jpg" title="watercolor, sharpie">
			<img src="./css/images/sml-art/sml-salty-sea-dog.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/still-life.jpg" title="pencil, colored pencil">
			<img src="./css/images/sml-art/sml-still-life.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/flower-pyramid.png" title="watercolor, black ballpoint pen">
			<img src="./css/images/sml-art/sml-flower-pyramid.png"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/watercolor-creature.jpg" title="watercolor, sharpie">
			<img src="./css/images/sml-art/sml-watercolor-creature.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/watercolor-monster.jpg" title="NO DESCRIPTION">
			<img src="./css/images/sml-art/sml-watercolor-monster.jpg"/>
		</a>

		<a class="fancybox" rel="group" href="./css/images/cloak.jpg" title="NO DESCRIPTION">
			<img src="./css/images/sml-art/sml-cloak.jpg"/>
		</a>
	</div>

</div>