<script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./node_modules/slick-carousel/slick/slick.min.js"></script>
<script type="text/javascript" src="./node_modules/fancybox/dist/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="./node_modules/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="./node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="./js/carousel.js"></script>
<script type="text/javascript" src="./js/fancybox.js"></script>
<script type="text/javascript" src="./js/index.js"></script>