.site-header {
	// background: yellow;
	padding: 0 47px;

	> div {
		display: flex;
		min-height: 192px;
	}
}

.site-header > div {

	> div:first-child {
		margin: 0 40px;
	}

	> div:last-child {
		// background: lime;
		background: #f1f1f1;
		flex: 1;
		position: relative;
		text-align: center;

		> div {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

.primary-title {
	h1 {
		// font-size: 4.9em;
		// letter-spacing: -11px;
		// word-spacing: 10px;
		font-size: 4.1em;
		margin: 0;
	}
}

.primary-tabs {
	display: flex;
	justify-content: space-between;
	// background: pink;

	a {
		// background: red;
		background: #e6e6e6;
		text-align: center;
		padding: 3px 87px;
		font-size: 2.3em;
		border: 2px solid black;
	}
}