.site-header {
	padding: 0 47px;

	> div {
		display: flex;
	}
}

.site-header > div {

	.primary-logo img {
		margin: 0 40px;
	}

	> div:last-child { // Come up with a class name here
		flex: 1;
		position: relative;

		> div {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

.primary-title h1 {
	height: calc(192px - 61px); // Create variable for .site-header "height".
	margin: 0;
	font-size: 5.85em;
}

.primary-tabs {
	display: flex;
	justify-content: space-between;

	a {
		background: #B20000;
		width: 32.5%;
		padding: 3px 0;
		font-size: 2.3em;
		color: #fff;
	}
}