.site-header {
	padding: 0 47px;

	> div {
		display: flex;
	}
}

.site-header > div {

	> div:first-child {
		margin: 0 40px;
	}

	> div:last-child {
		background: #f1f1f1;
		flex: 1;
		position: relative;
		text-align: center;

		> div {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

.primary-title {
	h1 {
		font-size: 4.1em;
		margin: 0;
	}
}

.primary-tabs {
	display: flex;
	justify-content: space-between;

	a {
		background: #e6e6e6;
		width: 32.5%;
		text-align: center;
		padding: 3px 0;
		font-size: 2.3em;
		border: 2px solid black;
	}
}