.site-header {
	padding: 0 10px;
	margin-bottom: 10px;
}

.site-header > div {
	.primary-logo {
		display: none;
	}
}

.primary-title h1 {
	margin: 0;
	font-size: 2.6em;
}

.primary-tabs {
	display: flex;
	justify-content: space-between;

	a {
		background: #B20000;
		width: 32.5%;
		padding: 3px 0;
		font-size: 1.5em;
		color: #fff;
	}
}

@include media-query($on-palm) {
	.site-header {
		padding: 0 22px;

	}

	.primary-title h1 {
		font-size: 4.1em;
	}

	.primary-tabs a {
		padding: 4px 0;
		font-size: 1.6em;
	}
}

@include media-query($on-inBetween) {
	.site-header {
		padding: 0 47px;

	}

	.primary-title h1 {
		font-size: 5.5em;
	}

	.primary-tabs a {
		padding: 3px 0;
		font-size: 2.3em;
	}
}

@include media-query($on-laptop) {
	.site-header > div {
		display: flex;
	}

	.site-header > div {

		.primary-logo {
			display: initial;
		}

		.primary-logo img {
			margin: 0 40px;
			transform: translateY(19px);
		}

		> div:last-child { // Come up with a class name here
			flex: 1;
		}
	}

	.primary-title h1 {
		height: calc(192px - 61px); // Create variable for .site-header "height".
		font-size: 5.85em;
	}
}