/**
 * Site header
 */


.site-header {}

 @include media-query($on-laptop) {}

 /**
 * Carousel
 */

#carousel {
	background: #f1f1f1;
	margin: 40px 47px;
	min-height: calc(100vh - 272px);
}


 /**
 * About Section
 */

.about {
	background: #f1f1f1;
	min-height: calc(100vh - 80px);
	margin: 40px 47px;
	padding: 40px;

	.content-img {
		background: #e6e6e6;
		height: 200px;
		width: 150px;
		float: left;
		margin-right: 24px;
	}
}


 /**
 * About Section
 */

.portfolio {
	background: #f1f1f1;
	min-height: calc(100vh - 80px);
	margin: 40px 47px;
	padding: 40px;

	.content {
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		margin: 0;
		padding: 0;

		a {
			background: #e6e6e6;
			width: 268px;
			min-height: 250px;
			padding: 5px;
			margin-top: 10px;

			display: flex;
			align-items: center;
		}
		img {
			// height: 160px;
			margin: auto;
		}
	}

}


 /**
 * Contact Section
 */

.contact{
	background: #f1f1f1;
	min-height: calc(100vh - 80px);
	margin: 40px 47px;
	padding: 40px;

	.content {
		text-align: center;
	}
}

.contact form {
	> div {
		display: flex;
	}

	input:not(.submit) {
		flex: 1;
	}

	input.submit {
		margin: 0 auto;
		width: 235px;
	}

	input {
		border-radius: 6px;
		margin-top: 3px;
		height: 40px;
		background-color: #fff;
	}

	label {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 80px;
		margin-right: 30px;
	}

	label, > div:last-child input {
		text-transform: uppercase;
	}

}


/**
 * Site footer
 */

.site-footer {}


/**
 * Page content
 */

 .page-content {}