.about, .portfolio, .contact, #carousel {
	&:not(#carousel) {
		min-height: calc(100vh - 20px);
		padding: 15px 25px;
	}

	color: #fff;
	background: #121213;
	margin-bottom: -2px;
}


 /**
 * Carousel
 */

#carousel {
	margin: 10px;

	.slide-1, .slide-2, .slide-3 {
		background-size: contain;
		min-height: calc(100vh - 125px);
	}

	.slide-1 {
		background: url("./images/slides/slide-1-ar.jpg");
	}

	.slide-2 {
		background-image: url("./images/slides/slide-1-ar.jpg");
	}

	.slide-3 {
		background-image: url("./images/slides/slide-1-ar.jpg");
	}

}


 /**
 * Portfolio Section
 */

.portfolio .content {
	a {
		display: block;
		float: left;
		padding: 7px;
		width: 100%;
 	}
}

 /**
 * About/Contact Section
 */

.about, .contact {
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		max-width: 650px;
		text-align: center;
	}
}

 /**
 * Contact Section
 */

.contact form {
	> div {
		display: flex;
		margin-top: 20px;
	}

	input:not(.submit), textarea {
		flex: 1;
	}

	input.submit {
		margin: 0 auto;
		width: 235px;
		font-weight: bold;
		color: #121213;
	}

	input, textarea {
		padding-left: 18px;
		height: 40px;
		border: none;
		font-weight: bold;
		color: #121213;
	}

	textarea#message {
		height: 100%;
	}	
}

@include media-query($on-palm) {
	.about, .portfolio, .contact, #carousel {
		&:not(#carousel) {
			min-height: calc(100vh - 44px);
			padding: 35px;
		}
		
		margin: 22px;
	}

	#carousel {
		.slide-1, .slide-2, .slide-3 {
			min-height: calc(100vh - 190px);
		}
	}

	.portfolio .content a {
		margin-top: 10px;
		width: 50%;
	}
}

@include media-query($on-inBetween) {
	.about, .portfolio, .contact, #carousel {
		&:not(#carousel) {
			min-height: calc(100vh - 94px);
			padding: 40px;
		}
		
		margin: 47px;
	}

	#carousel {
		.slide-1, .slide-2, .slide-3 {
			min-height: calc(100vh - 287px);
		}
	}

	.portfolio .content a {
		width: 33%;
	}
}